body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  width: 100%;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}
.wrapper {
  background-color: lightblue;
  width: 400px;
  padding: 20px 15px;
  min-height: 400px;
  border-radius: 10px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inputBox input {
  height: 40px;
  border: 0;
  outline: 0;
  padding: 0px 10px;
  border-radius: 12px;
  text-align: right;
}
.inputBox button {
  height: 40px;
  border: 0;
  outline: none;
  background-color: green;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
}
.inputSearchBox {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.inputSearchBox input {
  height: 40px;
  border: 0;
  outline: 0;
  border-radius: 12px;
  text-align: right;
  padding-right: 10px;
}
.EndBox {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-top: 10px;
  border-radius: 10px;
  align-items: center;
  column-gap: 20px;
}

button {
  margin: 5px;
}

.list {
  list-style-type: none;
}
